# Dependências / lockfiles
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Git
.git
.gitignore

# IDE / OS
.DS_Store
.vscode
.idea

# Logs / temporários
*.log
logs
*.tmp

# Builds locais
dist
.next
out

# Env files
.env
.env.*
!.env.example

# Não precisam ir no contexto do build
Dockerfile*
docker-compose*.yml
